<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>MatchQuestGamer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="ion-padding">
    <h2>Chats activos</h2>
  </div>

  <ion-list lines="none">
    <ion-item-sliding>
      <ion-item color="dark" detail="true">
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/150?u=alex" />
        </ion-avatar>
        <ion-label>
          <h3>AlexGamer_99</h3>
          <p>¡Hola! Vi que buscas equipo para ranked en Valorant ¿Estás disponible?</p>
        </ion-label>
        <ion-note slot="end">14:38</ion-note>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item color="dark" detail="true">
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/150?u=lucia" />
        </ion-avatar>
        <ion-label>
          <h3>Lucia_Hunter</h3>
          <p>- Aceptó tu solicitud para jugar LOL</p>
        </ion-label>
        <ion-note slot="end">13:56</ion-note>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item color="dark" detail="true">
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/150?u=antonio" />
        </ion-avatar>
        <ion-label>
          <h3>Antonio_el_rey</h3>
          <p>Hola! ¿Te apetece un Clubes Pro? Juego de MCO.</p>
        </ion-label>
        <ion-note slot="end">Hace 2h</ion-note>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item color="dark" detail="true">
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/150?u=ainhoa" />
        </ion-avatar>
        <ion-label>
          <h3>Ainhoa_LOL</h3>
          <p>Hola! Soy Platino I ¿quieres jugar DuoQ?</p>
        </ion-label>
        <ion-note slot="end">Ayer</ion-note>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>