<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>MatchQuestGamer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="welcome-header ion-margin-bottom">
    <h1>¡Bienvenido, DaniMu_8!</h1>
    <p>Encuentra tu equipo perfecto o reta a otros jugadores.</p>
  </div>

  <ion-searchbar placeholder="Buscar juegos, salas o usuarios..." color="light" class="ion-no-padding"></ion-searchbar>

  <div class="section-title ion-margin-top">
    <h2>Juegos en Tendencia</h2>
  </div>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-subtitle>Shooter / Competitivo</ion-card-subtitle>
      <ion-card-title>Valorant</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      342 salas activas buscando miembros para ranked en este momento.
      <ion-button expand="block" fill="clear" color="primary" class="ion-margin-top">
        Buscar Match
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-subtitle>MOBA / Estrategia</ion-card-subtitle>
      <ion-card-title>League of Legends</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      595 jugadores buscando para jugar DuoQ
      <ion-button expand="block" fill="clear" color="primary" class="ion-margin-top">
        Buscar Match
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-subtitle>Estrategia / Competitivo</ion-card-subtitle>
      <ion-card-title>FC 26</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       405 jugadores buscando gente para jugar Clubes Pro o 2vs2 Division Rivals.
      <ion-button expand="block" fill="clear" color="primary" class="ion-margin-top">
        Buscar Match
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-subtitle>Estrategia</ion-card-subtitle>
      <ion-card-title>Clash Royale</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       243 jugadores para jugar 1vs1 o 2vs2.
      <ion-button expand="block" fill="clear" color="primary" class="ion-margin-top">
        Buscar Match
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>