<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>MatchQuestGamer</ion-title>

    <ion-buttons slot="end" class="ion-padding-horizontal">
      <div class="logo-header-container">
        <img src="assets/icon/logo.png" alt="Mini Logo MatchQuestGamer" />
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding"> 
  <div class="welcome-header ion-margin-bottom">
    <h1>¡Bienvenido, DaniMu_8!</h1>
    <p style="color: #666;">Encuentra tu equipo perfecto o reta a otros jugadores.</p>
  </div>

  <ion-searchbar 
    placeholder="Buscar juegos, salas o usuarios..." 
    class="ion-no-padding ion-margin-bottom"
    animated="true"
    (ionInput)="buscarJuego($event)">
  </ion-searchbar>

  <div class="section-title ion-margin-top ion-margin-bottom">
    <h2 style="font-weight: bold;">Juegos en Tendencia</h2>
  </div>

  <ion-card *ngFor="let juego of juegosFiltrados" 
    [style.background-color]="juego.titulo === 'Valorant' ? '#e0f7fa' : 
                             juego.titulo === 'League of Legends' ? '#fce4ec' : 
                             juego.titulo === 'FC 26' ? '#fffde7' : '#e8f5e9'"
    [style.border-left]="juego.titulo === 'Valorant' ? '5px solid #00e5ff' : 
                         juego.titulo === 'League of Legends' ? '5px solid #ff007f' : 
                         juego.titulo === 'FC 26' ? '5px solid #ffd600' : '5px solid #4caf50'"
    style="margin-bottom: 20px;">
    
    <ion-card-header>
      <ion-card-subtitle 
        [style.color]="juego.titulo === 'Valorant' ? '#00838f' : 
                       juego.titulo === 'League of Legends' ? '#c2185b' : 
                       juego.titulo === 'FC 26' ? '#f57f17' : '#2e7d32'" 
        style="font-weight: bold;">
        {{ juego.subtitulo }}
      </ion-card-subtitle>
      <ion-card-title style="color: #1c1c1e; font-weight: bold;">
        {{ juego.titulo }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: #2c3e50;">
      {{ juego.descripcion }}
      
      <ion-button expand="block" fill="solid" class="ion-margin-top" 
        [style.--background]="juego.titulo === 'Valorant' ? '#00e5ff' : 
                             juego.titulo === 'League of Legends' ? '#ff007f' : 
                             juego.titulo === 'FC 26' ? '#ffd600' : '#4caf50'"
        style="color: #ffffff; font-weight: bold;">
        BUSCAR MATCH
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div *ngIf="juegosFiltrados.length === 0" style="text-align: center; margin-top: 30px; color: #666;">
    <p>No se encontraron salas activas para ese juego en la arena... 👾</p>
  </div>

</ion-content>